@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "SFMono-Regular";
    src: url("/font/SFMono-Regular.otf") format("opentype");
}

body {
    font-family: "SFMono-Regular";
} 
